

html {
	font-family: 
}
body {
	background-image: url(images/resume_background.jpg);
	background-size: 100% auto;
	background-repeat: repeat-y;
}
/*#header {
	background-color: cadetblue;
	height: 50px;
}*/
/* left side bar with navigation bar */
#left_side {
	color: white; 
	float: left;
	background-color: #ac2b37;
	height: inherit;
	width: 30%; 
}
#home {
	color: white;
	margin-left: 20px; 
	margin-bottom: 20px;
}	
#left_side a {
	text-decoration: none;
	color: white;
}
#left_side p {
	margin-left: 20px;
}
/* right side bar with detail contents about me */ 
#right_side {
	clear: right;
	background-color: white; 
}
#right_side h2 {
	padding-top: 20px;
	border-bottom:2px lightgrey solid;
}
#right_side h2 .h2_right_spacing {
	float: right;
	color: white;
	margin-right: 0px;
	border-bottom: white solid 2px
}
#right_div_container {
	margin-left: 32%; 
}
#right_side p {
	margin-left: 20px;
	line-height:24px;
	font-style: italic;
	font-family: Arial,sans-serif;
}
/* footer/bottom of the page */
#footer {
	background:linear-gradient(to bottom, rgba(37,37,37,1) 0%,rgba(61,61,61,1) 70%);
	clear: both;
	height: 80px;
	text-align: center;
	color: white;
}
nav dl {
	margin-left: 20px;
	display: block;
	margin-bottom: 100px;
} 
nav dl dt {
	padding: 5px;
	width: 25%;
}
nav dl dt a {
	text-decoration: none;
}
nav dl dt:hover {
	background-color: #750F19;
	border-radius: 4px;
}
/* images or medias */
.head_image {
	margin-left: 20px;
}	 
#image_slide {
	#background-color: cadetblue;
	width: 800px;
	overflow: hidden;
}
#image_slide ul {
	padding-left: 0;
	margin-top: 0;
	width: 1000px;
	list-style: none;
}
#image_slide ul li {
	float: left;
}